body{
    background-color: pink;
}

#pierwszy{
    background-color: green;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    
    position: relative;
        top:40px;
        left:30px;
}

#drugi{
    background-color: red;
    width: 600px;
    height: 100px;
}


#trzeci{
    background-color: lime;
    width: 100px;
    height: 100px;
}